@font-face {
  font-family: "ukilen";
  src: url("/font/ukilen.otf");
}
h1,h2,h3,h4,h5,h6,h7 {
 font-family: "ukilen";
}
p, ul, table, th, td, tr, a, a:visited, button, .note {
  font-family: "ukilen";
  font-size: 15px;
}